<!DOCTYPE html>
<html ng-app='PasswordApp' lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password Creator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller='MainController as ctrl'>
    <header>
      <h1>Welcome to Password Creator</h1>
        <h3>Generate unique and complex passwords</h3>
    </header>
    <div class="container">
      <h3>Password length:
        <select ng-init='selectedLength = passwordLength[5]' class='select' ng-model='selectedLength' ng-options='x for x in passwordLength'>'10'
        </select>
      </h3>
        <button ng-click="ctrl.run()" type="button" name="button">Generate New Password</button>
          <div class="passwordList">
            <h2>{{ ctrl.password }}</h2>
          </div>
    </div>
  </body>
</html>
